{% extends "bootstrap/base.html" %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1> Comment </h1>
        </div>

        <div class="row">
            <div class="col-md-6">
                <form action="/comment" method="post">
                    <div class="form-group">
                        <label for="inputAPI">
                            goes here:</a>
                        </label>
                        <textarea class="form-control" rows="4" id="inputAPI" name="comment"></textarea>
                        <input type="hidden" name="cid" value="{{ cid }}">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Comment!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}